.projeto-content {
    width: 100%;
    max-width: 800px; /* Defina a largura máxima */
    margin: 0 auto; /* Centralize horizontalmente */
    box-sizing: border-box; /* Garanta que as margens não adicionem largura extra */
    margin-bottom: 20px; /* Adicione espaço entre os projetos */

    /* esta aqui e a transicao do "projeto-content" */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

/* Quando "projeto-content" estiver invisivel, e feito transicao para que se torne visivel */
.projeto-content.in-view {
    opacity: 1;
    transform: translateY(0);
}

.foto_projeto {
    min-height: 300px; /* Reduza a altura mínima da imagem */
    display: flex;
    align-items: center;
    justify-content: center; /* Centralize a imagem verticalmente */
}
  
.foto_projeto > img {
    max-width: 100%; /* Garanta que a imagem não ultrapasse a largura do contêiner */
    height: auto;
}
  
.sinopse {
    text-align: justify;
    font-weight: 400;
    margin-top: 10px; /* Adicione um espaço superior */
}
  
.text-barbie {
    color: #333; /* Altere a cor do texto para um tom de cinza mais escuro */
    line-height: 1.4rem;
}  


/*estilizacao dos botoes que redirecionam ao codigo e site do projeto*/
.links {
    margin-top: 10px;
}

.links a {
    text-decoration: none;
}

.links button {
    background-color: #f6f6f6;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.links button:hover {
    background-color: #333;
    color: #fff;
    border-color: #333;
}