/* Contato.css */
.contenido-main {
  padding: 20px;
  background: url('/public/fundo.jpg') center center/cover;
  background-attachment: fixed; /* Isso tornará a imagem fixa na página */
  background-repeat: no-repeat; /* Evita repetição da imagem de fundo */
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  display: block;
  font-size: 50px;
  margin-bottom: 20px;
}

h2 {
  margin: 15px 0;
  display: block;
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

form {
  width: 30em;
  margin: 0 auto;
  padding: 2em;
  text-align: center; /* Alinha o formulário ao centro */
}

fieldset.grupo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 2em;
  background: rgb(25, 20, 20);
}

label {
  font-weight: bold;
  font-size: 16px;
  color: white;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.campo {
  text-align: left;
}

.campo .question-box {
  display: block;
  text-align: center;
  margin: 2em;
}

label .box {
  font-weight: bold;
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
  color: #333; 
}
label input[type="radio"] {
  margin-right: 5px;
}

.btn-primary {
  background: rgb(25, 20, 20);
  color: white;
  text-transform: uppercase;
  padding:  15px 55px;
  border: 10px none rgb(25, 20, 20);
  border-radius: 30px;
  letter-spacing: 1px;
  font-weight: bold;
  transition: all 300ms ease;
}

.btn-primary:hover {
  font-size: inherit;
  padding-block: 14px;
  padding-inline: 32px;
}

button.btn-primary a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: all 500ms ease;
}

button.btn-primary a:hover {
  color: #fe391b;
}

/* caixa de opções */
/* No seu arquivo "Contato.css" ou CSS principal */
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgb(25, 20, 20);
  border: 1px solid #ddd;
  border-radius: 5px;

}

.box select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Estilização adicional para a seta do select */
.box select::after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
